@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


.App {
  color: black;
  font-size: 1em;
  font-family: 'Quicksand';
  text-align: center;
  background: linear-gradient(0deg, rgb(69, 69, 69), rgb(132, 130, 130) 25%, rgb(205, 203, 203));
}

.App-logo {
  height: 80px;
  font-family: 'Quicksand';
  font-variant-caps: small-caps;
  margin-top: 20px;
  color: rgb(16, 15, 15);
  font-size: 6em;
  animation: 3s infinite alternate slideIn;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
